<div class="champion-info-container">
	<div ng-include="'/Champions/ChampionHeader.html'"></div>

	<div class="champion-info">
		<div class="champion-stats-container champion-info-items champion-info-items-summary">
			<div class="champion-stats-header">
				<img src="/Resources/Store.png" />
				<span>{{'Items' | translate}}</span>
			</div>

			<div class="champion-stats-group">
				<span class="champion-stats-group-header">{{'TopWinningItems' | translate}}</span>
				<div class="champion-items-top">
					<a class="champion-item-tile"
					   tooltip="{{item.item.name}}"
					   ng-href="{{getItemUrl(item.itemId, champion.key)}}"
					   ng-repeat="item in itemInfo | filter:filterBaseItems | orderBy:'weightedWinRate':true | limitTo:9"
					   ng-click="playItemSelectionSound()">
						<img ng-src="{{getItemImage(item.itemId)}}" />
						<div class="champion-item-info">
							<div class="champion-item-name">{{item.name}}</div>

							<div>
								<div class="champion-item-stat-value">
									{{item.winRate | percentage:2}} ({{item.pickRate | percentage:2}})
								</div>
								<nvd3-sparkline-chart data="item.charts.winRates" width="80" height="15" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
									<svg></svg>
								</nvd3-sparkline-chart>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="champion-stats-group">
				<span class="champion-stats-group-header">{{'MostBoughtItems' | translate}}</span>
				<div class="champion-items-top">
					<a class="champion-item-tile"
					   tooltip="{{item.item.name}}"
					   ng-href="{{getItemUrl(item.itemId, champion.key)}}"
					   ng-repeat="item in itemInfo | filter:filterBaseItems | orderBy:'timesUsed':true | limitTo:9"
					   ng-click="playItemSelectionSound()">
						<img ng-src="{{getItemImage(item.itemId)}}" />
						<div class="champion-item-info">
							<div class="champion-item-name">{{item.name}}</div>

							<div>
								<div class="champion-item-stat-value">
									{{item.timesUsed | number}}
								</div>
								<nvd3-sparkline-chart data="item.charts.timesUsed" width="80" height="15" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
									<svg></svg>
								</nvd3-sparkline-chart>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="champion-stats-container champion-info-items champion-info-items-allitems">
			<div class="champion-stats-group">
				<span class="champion-stats-group-header">{{'AllItems' | translate}}</span>

				<div class="tbmc-filter-bar">
					<div class="tbmc-sorting">
						<div class="tbmc-sorting">
							<div class="btn-group">
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'timesUsed'">{{'TimesPurchased' | translate}}</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'timesWon'">{{'TimesWon' | translate}}</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'winRate'">{{'WinRate' | translate}}</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'weightedWinRate'">{{'WeightedWinRate' | translate}}</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'pickRate'">{{'PickRate' | translate}}</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortProperty" btn-radio="'winPickRate'">{{'WinningPickRate' | translate}}</label>
							</div>

							<div class="btn-group">
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortReverse" btn-radio="false">Asc</label>
								<label class="btn btn-primary tbmc-filter" ng-model="itemsSortReverse" btn-radio="true">Des</label>
							</div>
						</div>
					</div>
				</div>

				<div class="champion-stats-section champion-items">
					<a class="champion-item-tile"
					   tooltip="{{item.item.name}}"
					   ng-href="{{getItemUrl(item.itemId, champion.key)}}"
					   ng-repeat="item in itemInfo | orderBy:itemsSortProperty:itemsSortReverse"
					   ng-click="playItemSelectionSound()">
						<img ng-src="{{getItemImage(item.itemId)}}" />
						<div class="champion-item-info">
							<div class="champion-item-name">{{item.name}}</div>

							<div ng-switch="itemsSortProperty">
								<div ng-switch-when="timesUsed">
									<div class="champion-item-stat-value">
										{{item.timesUsed | number}}
									</div>
									<nvd3-sparkline-chart data="item.charts.timesUsed" width="80" height="15" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
										<svg></svg>
									</nvd3-sparkline-chart>
								</div>
								<div ng-switch-when="timesWon">
									<div class="champion-item-stat-value">
										{{item.timesWon | number}}
									</div>
									<nvd3-sparkline-chart data="item.charts.timesWon" width="80" height="15" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
										<svg></svg>
									</nvd3-sparkline-chart>
								</div>
								<div ng-switch-when="winRate">
									<div class="champion-item-stat-value">
										{{item.winRate | percentage:2}}<br/>
										{{item.timesWon | number}} / {{item.timesUsed | number}}
									</div>
								</div>
								<div ng-switch-when="weightedWinRate">
									<div class="champion-item-stat-value">
										{{item.winRate | percentage:2}} ({{item.pickRate | percentage:2}})
									</div>
									<nvd3-sparkline-chart data="item.charts.winRates" width="80" height="15" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
										<svg></svg>
									</nvd3-sparkline-chart>
								</div>
								<div ng-switch-when="pickRate">
									<div class="champion-item-stat-value">
										{{item.pickRate | percentage:2}}<br/>
										{{item.timesUsed | number}} / {{maxPlayed | number}}
									</div>
								</div>
								<div ng-switch-when="winPickRate">
									<div class="champion-item-stat-value">
										{{item.winPickRate | percentage:2}}<br/>
										{{item.timesWon | number}} / {{maxWins | number}}
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
