<div class="champion-info-container">
	<div ng-include="'/Champions/ChampionHeader.html'"></div>

	<div class="champion-info">
		<div class="champion-stats-container champion-info-rivalries">
			<div class="champion-stats-header">
				<img src="/Rivalries.png" />
				<span>Rivalries</span>
			</div>
		</div>

		<div class="champion-stats-container champion-info-rivalries-list">
			<span class="champion-stats-group-header">
				<img src="/Kills.png" />
				<span>Victims</span>
			</span>
			<div class="champion-info-rivalries-victims">
				<a class="champion-portrait-large"
				   tooltip="{{victim.champion.name}}"
				   ng-href="{{getChampionUrl(victim.champion)}}"
				   ng-repeat="victim in victims | orderBy:'kills':true | limitTo:14"
				   ng-click="playSectionSound()">
					<img ng-src="{{getChampionImageUrl(victim.champion)}}" />
					<div class="champion-info-rivalries-stats">
						<div>{{victim.killPercent | percentage:2}}</div>
						<div>{{victim.kills | number}}</div>
					</div>
				</a>
			</div>
		</div>

		<div class="champion-stats-container champion-info-rivalries-list">
			<span class="champion-stats-group-header">
				<img src="/Deaths.png" />
				<span>Nemesis</span>
			</span>
			<div class="champion-info-rivalries-nemesis">
				<a class="champion-portrait-large"
				   tooltip="{{nemesis1.champion.name}}"
				   ng-href="{{getChampionUrl(nemesis1.champion)}}"
				   ng-repeat="nemesis1 in nemesis | orderBy:'deaths':true | limitTo:14"
				   ng-click="playSectionSound()">
					<img ng-src="{{getChampionImageUrl(nemesis1.champion)}}" />
					<div class="champion-info-rivalries-stats">
						<div>{{nemesis1.deathPercent | percentage:2}}</div>
						<div>{{nemesis1.deaths | number}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
