
div.champion-list {
	min-height: 100%;

	.tbm-filter-bar {
		margin-top: -5.5em;

		&.tbm-filter-visible {
			margin-top: 0em;
		}

		.tbm-sorting {
			width: 8em;
		}
	}

	div.champion-list-container {
		background: url(/LeftTile.png);
		max-width: 960px;
		padding-left: 3em;
		padding-top: 2em;
		margin-left: 3em;
		padding-left: 4em;
		background-size: 960px;
		background-repeat: repeat-y;
		padding-bottom: 4em;
		transition: 150ms all;

		&.tbm-filter-visible {
			padding-top: 7.5em;
		}

		a.champion-portrait-large {
			position: relative;
			display: inline-block;
			width: 5em;
			height: 5em;
			margin: 0.5em;
			transition: 150ms all;

			&:hover {
				box-shadow: 0px 0px 15px 2px rgb(49, 185, 189);
			}

			&:hover > div.highlight {
				box-shadow: 0px 0px 15px 2px rgb(49, 196, 200) inset;
			}

			> div.highlight {
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
			}

			> img {
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.champion-info-container {
	position: relative;
	text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
	margin-left: 2em;
	margin-top: 2em;
	padding-bottom: 5em;

	* {
		vertical-align: top;
	}

	svg {
		width: initial;
		height: initial;
	}
	/*.champion-background-fill {
		position: sticky;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: black;
		box-shadow: 0px 9px 25px black;
	}*/
	.champion-splash {
		position: absolute;
		left: 0.2em;
		top: 3em;
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 1215px;
		height: 717px;
		box-shadow: 0px 0px 65px black;
		border-right: 4px solid rgb(0, 29, 40);
		border-bottom: 4px solid rgb(0, 29, 40);
	}

	.champion-sections-bar {
		position: absolute;
		top: -2em;
		left: -2em;
		height: 3em;
		color: white;
		background: linear-gradient(to bottom, rgb(2, 52, 72) 0%, rgba(0,30,42,1) 1%,rgba(2,9,13,1) 97%,rgb(2, 52, 72) 98%,rgb(2, 52, 72) 100%);
		width: 100%;
		padding-left: 3em;

		a {
			display: inline-block;
			margin-top: 0.5em;
			margin-right: 1em;
			padding: 0.2em;
			text-align: center;
			width: 8em;
			border: 1px solid rgb(97, 122, 141);
			background: linear-gradient(to bottom, rgb(64, 81, 95) 0%, rgb(47, 61, 77) 1%,rgba(2,9,13,1) 97%,rgb(33, 49, 65) 98%,rgb(21, 35, 56) 100%);
			transition: 150ms all;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				color: white;
				background: linear-gradient(to bottom, rgb(88, 124, 181) 0%, rgb(51, 83, 138) 1%,rgb(16, 76, 111) 97%,rgb(23, 50, 91) 98%,rgb(17, 49, 100) 100%);
				border: 1px solid rgb(115, 175, 215);
			}

			&:focus,
			&:active,
			&.active {
				text-decoration: none;
				background: linear-gradient(to top, rgb(47, 60, 71) 0%, rgb(34, 44, 56) 1%,rgba(2,9,13,1) 97%,rgb(21, 33, 44) 98%,rgb(14, 23, 37) 100%);
				border-color: rgb(92, 49, 17);
			}
		}
	}

	.champion-info {
		position: relative;
		top: 5.5em;
		width: 1215px;
		position: relative;

		.champion-title {
			padding-left: 0.6em;
			margin-left: 3em;

			h1 {
				font-size: 36pt;
				font-weight: bold;
				margin: 0;
			}

			h2 {
				margin: 0;
				padding-left: 0.25em;
				font-size: 0.9em;
				margin-bottom: 3em;
			}
		}

		.champion-stats-container {
			padding: 1em;
			margin: 0em 2em;

			.champion-grid {
				width: 42em;
				margin-right: 2em;
			}

			.champion-stats-header {
				font-size: 2em;
				font-weight: bold;
				margin-bottom: 0.5em;

				* {
					vertical-align: middle;
				}

				> img {
					margin-right: 0.5em;
				}
			}

			.champion-stats-section {
				margin-bottom: 1em;
			}

			.champion-summoner-spell-tile {
				display: inline-block;
				color: white;
				padding: 0.5em;
				width: 13em;
				text-decoration: none;
				transition: 150ms all;
				border-radius: 0.5em;
				cursor: default;

				&:hover {
					text-decoration: none;
					background: rgba(255, 255, 255, 0.3);
				}

				> * {
					display: inline-block;
					vertical-align: top;
				}

				img {
					width: 2.5em;
					margin-right: 0.3em;
					border: 1px solid rgb(198, 174, 92);
				}

				.champion-item-stat-value {
					margin-bottom: 0.2em;
				}
			}

			.champion-items-top {
				margin-left: 1em;
				margin-top: 0.5em;
			}

			.champion-item-tile {
				display: inline-block;
				color: white;
				padding: 0.5em;
				width: 12em;
				height: 4em;
				text-decoration: none;
				transition: 150ms all;
				border-radius: 0.5em;

				&:hover {
					text-decoration: none;
					background: rgba(255, 255, 255, 0.3);
				}

				> * {
					display: inline-block;
					vertical-align: top;
				}

				img {
					width: 2.5em;
					margin-right: 0.3em;
					border: 1px solid rgb(198, 174, 92);
				}

				.champion-item-stat-value {
					margin-bottom: 0.2em;
				}
			}
		}

		.champion-stats-group {
		}

		.champion-stats-group-header {
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}


		.champion-info-overview,
		.champion-summoner-spells,
		.champion-info-items,
		.champion-info-skills,
		.champion-info-skill-charts,
		.champion-info-objectives,
		.champion-info-objective-chart,
		.champion-info-objective-extended-stats,
		.champion-info-combat,
		.champion-info-combat-heat-maps,
		.champion-info-combat-extended-stats,
		.champion-info-gold {
			background: rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 10px black inset;
			border: 1px solid rgba(0, 0, 0, 0.6);
			margin-left: 3em;

			.champion-grid {
				width: 100%;
			}
		}

		.champion-info-overview {
			width: 30em;
		}

		.champion-summoner-spells {
			margin-top: 4.9em;
			width: 82em;
			height: 13em;
			overflow: hidden;
		}

		.champion-summoner-spells-lists {
			margin-top: 1em;
		}

		.champion-info-items {
			width: 40em;
			height: 39em;
			overflow: hidden;
		}

		.champion-info-gold {
			width: 38em;
		}

		.champion-info-skills {
			width: 30em;

			.champion-stats-header {
				> img {
					width: 2.5em;
					margin-right: 0.5em;
				}
			}

			.champion-stats-skill {
				margin: 0.5em;
				display: inline-block;

				> img {
					border: 3px solid rgb(31, 41, 52);
					box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
					width: 4em;
				}

				&.active {
					> img {
						border: 1px solid rgba(255, 255, 255, 0.75);
						box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
						animation: activeSkill 1s infinite;

						@keyframes activeSkill {
							0% {
								box-shadow: 0px 0px 5px white;
							}

							50% {
								box-shadow: 0px 0px 15px white;
							}

							0% {
								box-shadow: 0px 0px 5px white;
							}
						}
					}
				}
			}
		}

		.champion-info-items-allitems {
			margin-top: 4em;
			width: 82em;
			height: auto;
			background: rgba(14, 31, 59, 0.70);
			box-shadow: 0px 0px 15px black inset;

			.champion-item-tile {
				width: 13em;
			}
		}

		.champion-info-skill-charts {
			margin-top: 1.5em;
			margin-bottom: 1em;

			svg {
				width: 80em;
				height: 22em;
			}
		}

		.champion-info-objectives {
			width: 30em;
			display: inline-block;

			.champion-stats-header {
				> img {
					width: 2.5em;
					margin-right: 0.5em;
				}
			}

			.champion-info-objectives-map {
				position: relative;
				margin-left: 1.5em;
				left: 0em;
				top: 0em;
				width: 25em;
				height: 20em;
				padding-left: 1.5em;

				> img {
					position: absolute;
					left: 0em;
					top: 0em;
					width: 100%;
					height: 100%;
				}

				.champion-info-objectives-map-objective {
					position: absolute;
					width: 1em;
					height: 1em;
					opacity: 0.4;
					border-radius: 1em;
					border: 1px solid white;
					transition: 150ms all;
					cursor: pointer;

					&:hover,
					&.active {
						animation: objectiveAnimation 0.5s infinite;
						box-shadow: 0px 0px 5px white;
					}

					@keyframes objectiveAnimation {
						0% {
							opacity: 0.7;
						}

						50% {
							opacity: 1;
						}

						100% {
							opacity: 0.7;
						}
					}
				}

				.map-objective-blue {
					background: blue;
				}

				.map-objective-red {
					background: red;
				}

				.map-objective-baron {
					background: purple;
					left: 10.1em;
					top: 4.6em;
					width: 1.5em;
					height: 1.5em;
				}

				.map-objective-dragon {
					background: orange;
					left: 16.7em;
					top: 11.4em;
					width: 1.5em;
					height: 1.5em;
				}

				.map-objective-bn1 {
					left: 4.7em;
					top: 14.4em;
				}

				.map-objective-bn2 {
					left: 5.5em;
					top: 15.4em;
				}

				.map-objective-btb {
					left: 4.3em;
					top: 11.8em;
				}

				.map-objective-bti {
					left: 5.2em;
					top: 8.7em;
				}

				.map-objective-bto {
					left: 5.1em;
					top: 4.6em;
				}

				.map-objective-bmb {
					left: 8.0em;
					top: 12.5em;
				}

				.map-objective-bmi {
					left: 10.1em;
					top: 11.1em;
				}

				.map-objective-bmo {
					left: 11.2em;
					top: 9.1em;
				}


				.map-objective-bbb {
					left: 8.7em;
					top: 16.2em;
				}

				.map-objective-bbi {
					left: 12.8em;
					top: 16em;
				}

				.map-objective-bbo {
					left: 18.7em;
					top: 16.6em;
				}

				.map-objective-rn1 {
					left: 19.2em;
					top: 2em;
				}

				.map-objective-rn2 {
					left: 19.8em;
					top: 2.6em;
				}

				.map-objective-rtb {
					left: 16.6em;
					top: 1.7em;
				}

				.map-objective-rti {
					left: 13.6em;
					top: 1.8em;
				}

				.map-objective-rto {
					left: 9.5em;
					top: 1.6em;
				}

				.map-objective-rmb {
					left: 17.9em;
					top: 3.8em;
				}

				.map-objective-rmi {
					left: 16.1em;
					top: 5.1em;
				}

				.map-objective-rmo {
					left: 15.3em;
					top: 6.9em;
				}

				.map-objective-rbb {
					left: 21.2em;
					top: 4.5em;
				}

				.map-objective-rbi {
					left: 21.2em;
					top: 7.1em;
				}

				.map-objective-rbo {
					left: 22.8em;
					top: 11.3em;
				}
			}
		}

		.champion-info-objective-chart {
			position: relative;
			display: inline-block;
			width: 50em;
			height: 31em;
			margin: 0em;
			margin-top: 8em;
			padding-bottom: 1em;

			svg {
				position: relative;
				z-index: 1000;
				width: 100%;
				height: 92%;
			}

			.champion-info-objective-chart-background {
				position: absolute;
				top: 0em;
				left: 0em;
				height: 100%;
				width: 100%;
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		.champion-info-combat {
			width: 30em;

			.champion-stats-header {
				> img {
					width: 2.5em;
					margin-right: 0.5em;
				}
			}
		}

		.champion-info-combat-heat-maps {
			margin-top: 8em;

			> * {
				display: inline-block;
			}

			.champion-info-combat-heat-map {
				width: 39em;

				.champion-stats-group-header {
					margin: 0em 0.5em;
				}
			}

			.champion-info-combat-heat-map-content {
				display: inline-block;

				> * {
					margin: 0.5em;
					display: inline-block;
				}
			}

			videogular {
				width: 256px;
				height: 256px;

				vg-media {
					width: 256px;
					height: 256px;
				}
			}
		}

		.champion-info-combat-extended-stats,
		.champion-info-objective-extended-stats {
			margin-top: 4em;
			width: 81.8em;
			height: auto;

			.progress {
				margin: 0.5em;
			}

			svg {
				width: 4em;
				height: 1.5em;
			}

			table {
				font-size: 0.7em;
			}

			.progress-bar-doubleKill {
				background: linear-gradient(to bottom, rgb(97, 99, 206) 0%,rgb(0, 21, 188) 53%,rgb(0, 3, 132) 99%);
			}

			.progress-bar-tripleKill {
				background: linear-gradient(to bottom, rgb(97, 156, 206) 0%,rgb(0, 125, 188) 53%,rgb(0, 88, 132) 99%);
			}

			.progress-bar-quadraKill {
				background: linear-gradient(to bottom, rgb(206, 164, 97) 0%,rgb(188, 115, 0) 53%,rgb(132, 69, 0) 99%);
			}

			.progress-bar-pentaKill {
				background: linear-gradient(to bottom, rgb(206, 97, 97) 0%,rgb(188, 0, 0) 53%,rgb(132, 0, 0) 99%);
			}

			.progress-bar-ultraKill {
				background: linear-gradient(to bottom, rgb(206, 97, 204) 0%,rgb(152, 0, 188) 53%,rgb(90, 0, 132) 99%);
			}

			.champion-stats-combat-table-section,
			.champion-stats-objective-table-section {
				font-size: 2em;
				font-weight: bold;
				text-align: left;
				margin: 0em;
				padding: 0.5em 0em;
				border-bottom: 1px solid white;
			}

			.champion-stats-combat-table-inner-section,
			.champion-stats-objective-table-inner-section {
				padding: 0.5em 0em;
			}

			.champion-stats-combat-table-sub-section,
			.champion-stats-objective-table-sub-section {
				font-size: 1em;
				padding: 0.5em 0.5em;
				border-top: 1px solid white;
			}
		}

		.tooltip {
			border: 1px solid white;
			background: black;
			padding: 0.2em;
			font-size: 1.2em;
			font-weight: bold;
		}

		.tbmc-filter-bar {
			margin: 1em 0em;

			.btn-primary {
				background: linear-gradient(to bottom, rgb(83, 84, 174) 0%,rgb(0, 21, 188) 53%,rgb(0, 3, 132) 99%);
				border-color: #1d20c8;
				transition: 50ms all;
			}

			.btn-primary:hover {
				background: linear-gradient(to bottom, rgb(83, 84, 174) 0%,rgb(0, 27, 237) 53%,rgb(0, 9, 183) 100%);
				border-color: #5e6fce;
			}

			.btn-primary:focus,
			.btn-primary:active,
			.btn-primary.active {
				background: linear-gradient(to top, rgb(83, 84, 174) 0%,rgb(0, 27, 237) 53%,rgb(0, 9, 183) 100%);
				border-color: #5265d5;
			}
		}
	}

	table.champion-grid {
		width: 100%;
		cursor: default;
		font-size: 0.9em;

		th {
			text-align: center;
			padding: 1em 0em;
		}

		td {
			padding: 0.5em 0em;
			text-align: right;
			vertical-align: middle;
			color: rgb(144, 195, 138);

			&.champion-stat {
				width: 8em;
				text-align: left;
				color: white;
				padding-left: 0.5em;
			}

			&.champion-stat-sparkline {
				padding-left: 1em;
				padding-right: 0.5em;
				width: 7em;
			}
		}
	}

	.champion-grid-highlight-rows {
		tbody {
			tr {
				transition: 50ms all;

				&:hover {
					background: rgba(255, 255, 255, 0.4) !important;
				}

				&:nth-child(odd) {
					background: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	.champion-stat-bar-caption {
		font-size: 0.8em;
		vertical-align: bottom;
	}

	.progress {
		background-color: rgba(245, 245, 245, 0.5);
		margin: 0.4em 0em;
	}

	.nav-tabs {
		border: none;
		padding: 1em;
		padding-left: 2em;
		margin-top: 16em;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 5px black inset;
	}

	.nav-tabs > li {
		color: white;
		font-size: 1.5em;
		margin-bottom: -1px;
		text-align: center;
	}

	.nav-tabs > li > a {
		color: white;
		padding: 0;
		margin-right: 0.2em;
		line-height: 1.428571429;
		background: linear-gradient(to bottom, rgb(211, 136, 0) 0%,rgb(195, 103, 0) 53%,rgb(165, 77, 0) 99%);
		border: 1px solid rgb(124, 86, 17);
		width: 8em;
		border-radius: 0;
		text-align: center;
		transition: 150ms all;
		text-shadow: -1px -1px black;
	}

	.nav-tabs > li > a:hover {
		border: 1px solid rgb(159, 111, 24);
		background: linear-gradient(to bottom, rgba(252,178,121,1) 0%,rgba(237,142,0,1) 53%,rgba(183,79,0,1) 100%);
	}

	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		color: white;
		background: linear-gradient(to top, rgb(211, 136, 0) 0%,rgb(195, 103, 0) 53%,rgb(165, 77, 0) 99%);
		border: 1px solid rgb(78, 52, 5);
		cursor: default;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
	}

	nvd3-sparkline-chart {
		svg {
			width: 6em;
			height: 2em;
		}
	}

	.progress-bar {
		background: linear-gradient(to bottom, rgb(97, 153, 206) 0%,rgb(0, 96, 188) 53%,rgb(0, 96, 132) 99%);
	}

	.progress-bar-danger {
		background: linear-gradient(to bottom, rgb(206, 97, 97) 0%,rgb(188, 0, 0) 53%,rgb(132, 0, 0) 99%);
	}

	.progress-bar-success {
		background: linear-gradient(to bottom, rgb(115, 206, 97) 0%,rgb(8, 188, 0) 53%,rgb(0, 132, 3) 99%);
	}
}

.champion-stats-progress-bar {
	position: relative;
	display: block;

	.progress {
		margin-right: 6.5em;
	}

	.mouse-interceptor,
	nvd3-sparkline-chart {
		position: absolute;
		width: 6em;
		height: 100%;
		right: 0em;
		top: 0em;
	}

	.mouse-interceptor {
		z-index: 100;
		pointer-events: none;
	}
}


.champion-item-info {
	.champion-stats-container {
		width: 40em;
	}

	.champion-info {
		.item-header {
			position: relative;
			margin-bottom: 2em;
			border-radius: 0.75em;
			background: rgba(0, 0, 0, 0.75);
			padding: 1em;
			box-shadow: 0px 0px 15px black inset;

			> * {
				display: inline-block;
				vertical-align: top;
			}

			.item-image {
				position: absolute;
				left: 1.5em;
				top: 1.5em;
				border: 2px solid rgb(170, 148, 70);
				box-shadow: 0px 0px 15px black;
			}

			.item-header-description {
				margin-left: 6.5em;
			}

			.item-name {
				font-size: 2em;
				font-weight: bold;
			}

			.item-cost {
				font-weight: bold;

				* {
					vertical-align: middle;
				}

				&.item-cost-gold {
					img {
						height: 1em;
					}
				}

				&.item-cost-krakens {
					img {
						margin-right: 0.2em;
						height: 1.5em;
						margin-bottom: 0.5em;
					}
				}
			}
		}

		.item-charts {
			width: 82em;
			margin-bottom: 2em;
			border-radius: 0.75em;
			background: rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 15px black inset;
			color: white;
			padding: 2em;

			.item-chart-header {
				font-size: 1.2em;
				font-weight: bold;
			}

			.item-chart {
				position: relative;
				margin-bottom: 1em;
				width: 36em;
				margin-right: 1em;
			}

			svg {
				width: 100%;
				height: 20em;

				text {
					fill: white !important;
				}
			}
		}

		.item-chart-group {
			display: inline-block;
		}
	}

	.nvd3 .nv-axis line {
		stroke: black;
	}

	svg text {
		fill: black !important;
	}
}
