<div class="champion-list">
	<div class="tbm-filter-bar" ng-class="{'tbm-filter-visible': displayFilters}">
		<div class="tbm-name-filter">
			<button type="button" class="btn btn-primary btm-toggle-filters btm-expander-bottom" ng-model="displayFilters" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-click="playToggleFilterSound()">
				<span></span>
			</button>

			<input type="text" placeholder="{{'NameSearch' | translate}}" ng-model="nameFilter" typeahead="champion for champion in championNames | filter:$viewValue | limitTo:8" class="form-control">
		</div>

		<div class="tbm-sorting">
			<div class="tbm-sorting">
				<div class="btn-group">
					<label class="btn btn-primary tbm-filter" ng-model="sortDirection" btn-radio="false">Asc</label>
					<label class="btn btn-primary tbm-filter" ng-model="sortDirection" btn-radio="true">Des</label>
				</div>
			</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.assassin"></checkbox>{{'Assassin' | translate}}</div>
			<div><checkbox ng-model="filter.fighter"></checkbox>{{'Fighter' | translate}}</div>
			<div><checkbox ng-model="filter.mage"></checkbox>{{'Mage' | translate}}</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.marksman"></checkbox>{{'Marksman' | translate}}</div>
			<div><checkbox ng-model="filter.support"></checkbox>{{'Support' | translate}}</div>
			<div><checkbox ng-model="filter.tank"></checkbox>{{'Tank' | translate}}</div>
		</div>
	</div>

	<div class="champion-list-container" ng-class="{'tbm-filter-visible': displayFilters}">
		<a class="champion-portrait-large"
		   tooltip="{{champion.name}}"
		   ng-href="{{getChampionUrl(champion)}}"
		   ng-click="playSectionSound()"
		   ng-repeat="champion in champions | filter:championFilter | orderBy:sortProperty:sortDirection">
			<img ng-src="{{getChampionImageUrl(champion)}}" />
			<div class="highlight"></div>
		</a>
	</div>
</div>