<div class="champion-info-container">
	<div ng-include="'/Champions/ChampionHeader.html'"></div>

	<div class="champion-info">

		<div class="champion-stats-container champion-stats-overview">
			<div class="champion-stats-progress-bar">
				<progress>
					<bar ng-repeat="bar in winLoss track by $index" value="bar.value" type="{{bar.type}}">
						<span>{{bar.value}}%</span>
					</bar>
				</progress>

				<nvd3-sparkline-chart ng-click="" data="charts.winRate" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
					<svg></svg>
				</nvd3-sparkline-chart>
			</div>

			<table class="champion-grid champion-grid-with-sparklines">
				<tr>
					<td class="champion-stat">Times Played</td>
					<td>{{championStats.timesPlayed | number:0}}</td>
					<td class="champion-stat-sparkline">
						<nvd3-sparkline-chart data="charts.timesPlayed" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
							<svg></svg>
						</nvd3-sparkline-chart>
					</td>
				</tr>
				<tr>
					<td class="champion-stat">Wins</td>
					<td>{{championStats.wins | number:0}}</td>
					<td class="champion-stat-sparkline">
						<nvd3-sparkline-chart data="charts.wins" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
							<svg></svg>
						</nvd3-sparkline-chart>
					</td>
				</tr>
			</table>

			<br />

			<span>Average Champion Level</span>
			<div>
				<span class="champion-stat-bar-caption">All Games</span>
				<progressbar value="championStats.champLevelAvg" max="18">
					<span>{{championStats.champLevelAvg}}</span>
				</progressbar>
			</div>

			<div>
				<span class="champion-stat-bar-caption">Won Games</span>
				<progressbar value="championStats.champLevelAvgWin" max="18">
					<span>{{championStats.champLevelAvgWin}}</span>
				</progressbar>
			</div>
		</div>
	</div>
</div>