<div class="champion-info-container">
	<div ng-include="'/Champions/ChampionHeader.html'"></div>

	<div class="champion-info">
		<div class="champion-stats-container champion-info-overview">
			<span class="champion-stats-group-header">{{'Performance' | translate}}</span>
			<div class="champion-stats-progress-bar">
				<progress>
					<bar ng-repeat="bar in winLoss track by $index" value="bar.value" type="{{bar.type}}">
						<span>{{bar.value}}%</span>
					</bar>
				</progress>

				<nvd3-sparkline-chart ng-click="" data="charts.winRate" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
					<svg></svg>
				</nvd3-sparkline-chart>
			</div>

			<table class="champion-grid champion-grid-with-sparklines">
				<tr>
					<td class="champion-stat">{{'TimesPlayed' | translate}}</td>
					<td>{{championStats.timesPlayed | number:0}}</td>
					<td class="champion-stat-sparkline">
						<nvd3-sparkline-chart data="charts.timesPlayed" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
							<svg></svg>
						</nvd3-sparkline-chart>
					</td>
				</tr>
				<tr>
					<td class="champion-stat">{{'Wins' | translate}}</td>
					<td>{{championStats.wins | number:0}}</td>
					<td class="champion-stat-sparkline">
						<nvd3-sparkline-chart data="charts.wins" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
							<svg></svg>
						</nvd3-sparkline-chart>
					</td>
				</tr>
			</table>

			<br />

			<span class="champion-stats-group-header">{{'AverageChampionLevel' | translate}}</span>
			<div>
				<span class="champion-stat-bar-caption">{{'AllGames' | translate}}</span>
				<progressbar value="championStats.champLevelAvg" max="18">
					<span>{{championStats.champLevelAvg}}</span>
				</progressbar>
			</div>

			<div>
				<span class="champion-stat-bar-caption">{{'WonGames' | translate}}</span>
				<progressbar value="championStats.champLevelAvgWin" max="18">
					<span>{{championStats.champLevelAvgWin}}</span>
				</progressbar>
			</div>
		</div>

		<div class="champion-stats-container champion-summoner-spells">
			<div class="champion-stats-group-header">
				<img src="/Resources/SummonerSpells.png" />
				<span tooltip="{{'SummonerSpellsTooltip' | translate}}">{{'SummonerSpells' | translate}}</span>
			</div>
			<div class="champion-summoner-spells-lists">
				<div class="champion-summoner-spell-tile"
				   tooltip="{{summonerSpellInfo.spell.name}}"
				   ng-repeat="summonerSpellInfo in summonerSpellInfos | orderBy:summonerSpellSortProperty:summonerSpellSortReverse">
					<img ng-src="{{getSummonerSpellImageUrl(summonerSpellInfo.spell)}}" />
					<div class="champion-summoner-spell-stats-value">
						{{summonerSpellInfo.winRate | percentage:2}} ({{summonerSpellInfo.pickRate | percentage:2}})<br />
						{{summonerSpellInfo.timesWon | number}} / {{summonerSpellInfo.count | number}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>