<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
>
	<extensions>
		<add assembly="TheBlackMarket" />
	</extensions>

	<targets>
		<target
			name="Console"
			xsi:type="ColoredConsole"
			layout="[${pad:padding=7:inner=${level:uppercase=true}}] ${logger}: ${message}"/>

		<target
			name="ApplicationLog"
			xsi:type="File"
			createDirs="true"
			fileName="${applicationdir}/Logs/Application.log"
			layout="${date:format=hh\:MM\:ss tt} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}"
			forceManaged="true" />

		<target
			name="AccessLog"
			xsi:type="File"
			createDirs="true"
			fileName="${applicationdir}/Logs/Access.log"
			layout="${date:format=hh\:MM\:ss tt} ${message}"
			forceManaged="true" />

		<target
			name="HtmlAccessLog"
			xsi:type="File"
			createDirs="true"
			fileName="${applicationdir}/Logs/HtmlAccess.log"
			layout="${date:format=hh\:MM\:ss tt} ${message}"
			forceManaged="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />

		<logger name="Application" minlevel="Debug" writeTo="ApplicationLog" />
		<logger name="Access" minlevel="Debug" writeTo="AccessLog" />
		<logger name="HtmlAccess" minlevel="Debug" writeTo="HtmlAccessLog" />
	</rules>
</nlog>
