<div class="champion-info-container objective-info-container">
	<div class="champion-background-fill"></div>

	<div class="champion-splash" style="background-image: url(/Objectives/Objectives.png)">
	</div>

	<div class="champion-info">
		<div class="champion-stats-container champion-info-objectives">
			<div class="champion-stats-header">
				<img src="/Objectives.png" />
				<span>{{'Objectives' | translate}}</span>
			</div>

			<div class="champion-info-objectives-map">
				<img src="/SummonersRift.png" />

				<div ng-model="selectedObjective" btn-radio="'bn1'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bn1" tooltip="{{'BlueNexusTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bn1'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bn2" tooltip="{{'BlueNexusTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'btb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-btb" tooltip="{{'BlueTopInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bti'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bti" tooltip="{{'BlueTopInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bto'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bto" tooltip="{{'BlueTopOuterTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bmb" tooltip="{{'BlueMidInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmi'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bmi" tooltip="{{'BlueMidInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmo'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bmo" tooltip="{{'BlueMidOuterTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bbb" tooltip="{{'BlueBottomInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbi'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bbi" tooltip="{{'BlueBottomInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbo'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-blue map-objective-bbo" tooltip="{{'BlueBottomOuterTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bn1'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rn1" tooltip="{{'RedNexusTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bn1'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rn2" tooltip="{{'RedNexusTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'btb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rtb" tooltip="{{'RedTopInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bti'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rti" tooltip="{{'RedTopInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bto'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rto" tooltip="{{'RedTopOuterTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rmb" tooltip="{{'RedMidInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmi'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rmi" tooltip="{{'RedMidInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bmo'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rmo" tooltip="{{'RedMidOuterTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbb'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rbb" tooltip="{{'RedBottomInhibitorTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbi'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rbi" tooltip="{{'RedBottomInnerTurret' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'bbo'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-red map-objective-rbo" tooltip="{{'RedBottomOuterTurret' | translate}}"></div>

				<div ng-model="selectedObjective" btn-radio="'baron'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-baron" tooltip="{{'BaronNashor' | translate}}"></div>
				<div ng-model="selectedObjective" btn-radio="'dragon'" ng-click="playSelectionSound()" class="champion-info-objectives-map-objective map-objective-dragon" tooltip="{{'Dragon' | translate}}"></div>
			</div>
		</div>

		<div class="champion-stats-container champion-info-objective-chart">
			<div class="champion-stats-group-header">
				<div tooltip="Destructions over game time">{{selectedObjectName | translate}}</div>
				<div>{{activeStats.timesWon}} / {{activeStats.kills}}</div>
			</div>
			<div class="champion-info-objective-chart-background" ng-style="{'background-image': 'url(' + selectedObjectImageUrl + ')'}">
			</div>
			<nvd3-stacked-area-chart data="activeChart"
									 color="colorF()"
									 showXAxis="true"
									 showYAxis="true"
									 showControls="true"
									 interactive="true"
									 useInteractionGuideline="true"
									 tooltips="true"
									 xAxisTickFormat="xAxisTickFormat()">
				<svg></svg>
			</nvd3-stacked-area-chart>
		</div>

		<div class="champion-stats-container champion-info-objective-extended-stats">
			<table class="champion-grid champion-grid-with-sparklines champion-grid-highlight-rows">
				<thead>
					<tr>
						<th></th>
						<th colspan="8">{{'AllGames' | translate}}</th>
						<th></th>
						<th colspan="8">{{'WonGames' | translate}}</th>
					</tr>
				</thead>
				<thead>
					<tr>
						<th colspan="17" class="champion-stats-objective-table-section">
							{{'BuildingKills' | translate}}
						</th>
					</tr>
				</thead>
				<thead>
					<tr>
						<th></th>
						<th colspan="2">{{'Min' | translate}}</th>
						<th colspan="2">{{'Average' | translate}}</th>
						<th colspan="2">{{'Max' | translate}}</th>
						<th colspan="2">{{'Total' | translate}}</th>
						<th colspan="2">{{'Min' | translate}}</th>
						<th colspan="2">{{'Average' | translate}}</th>
						<th colspan="2">{{'Max' | translate}}</th>
						<th colspan="2">{{'Total' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="champion-stat">{{'Towers' | translate}}</td>
						<td>{{championStats.towerKillsMin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsMin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsAvg | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsAvg" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsMax | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsMax" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsMinWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsMinWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsAvgWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsAvgWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsMaxWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsMaxWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.towerKillsSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.towerKillsSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
					<tr>
						<td class="champion-stat">{{'FirstTowerKill' | translate}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstTowerKillSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstTowerKillSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstTowerKillSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstTowerKillSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
					<tr>
						<td class="champion-stat">{{'FirstTowerAssist' | translate}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstTowerAssistSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstTowerAssistSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstTowerAssistSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstTowerAssistSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
					<tr>
						<td class="champion-stat">{{'Inhibitors' | translate}}</td>
						<td>{{championStats.inhibitorKillsMin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsMin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsAvg | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsAvg" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsMax | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsMax" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsMinWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsMinWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsAvgWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsAvgWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsMaxWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsMaxWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td>{{championStats.inhibitorKillsSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.inhibitorKillsSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
					<tr>
						<td class="champion-stat">{{'FirstInhibitorKill' | translate}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstInhibitorKillSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstInhibitorKillSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstInhibitorKillSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstInhibitorKillSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
					<tr>
						<td class="champion-stat">{{'FirstInhibitorAssist' | translate}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstInhibitorAssistSum | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstInhibitorAssistSum" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{championStats.firstInhibitorAssistSumWin | number:2}}</td>
						<td class="champion-stat-sparkline">
							<nvd3-sparkline-chart data="charts.firstInhibitorAssistSumWin" margin="{left:0,top:0,right:0,bottom:0}" color="getSparkLineColor()" xtickformat="empty()" ytickformat="empty()">
								<svg></svg>
							</nvd3-sparkline-chart>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
