<div class="brawlers-home-container">
	<div class="brawlers-home">
		<div class="brawlers-section">
			<div class="brawlers-section-title">
				Brawlers
			</div>

			<div class="brawlers-section-content brawlers-section-content-brawlers">
				<a ng-repeat="brawler in brawlers" ng-href="{{getItemUrl(brawler)}}" class="brawler-tile">
					<img class="brawler-image" ng-src=" {{getItemImageUrl(brawler)}}" />
					<div class="brawler-info">
						<div class="brawler-name">{{brawler.name}}</div>
					</div>
				</a>

				<div class="brawlers-composition-link">
					<a ng-href="{{brawlerCompositionsLink}}">
						Team Compositions
					</a>
				</div>
			</div>
		</div>

		<div class="brawlers-section">
			<div class="brawlers-section-title">
				Brawler Upgrades
			</div>

			<div class="brawlers-section-content brawlers-section-content-upgrades">
				<a ng-href="{{getItemUrl(brawlerUpgrade)}}" class="brawler-upgrade-tile" ng-repeat="brawlerUpgrade in brawlerUpgrades">
					<img class="brawler-upgrade-image" ng-src="{{getItemImageUrl(brawlerUpgrade)}}" />
					<div class="brawler-upgrade-info">
						<div class="brawler-upgrade-name">{{brawlerUpgrade.name}}</div>
						<div class="brawler-upgrade-cost">
							<img src="/Kraken.png" />
							<span>{{brawlerUpgrade.krakens}}</span>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="brawlers-section">
			<div class="brawlers-section-title">
				Black Market Items
			</div>

			<div class="brawlers-section-content brawlers-section-content-items">
				<a ng-href="{{getItemUrl(blackMarketItem)}}" class="item-tile" ng-repeat="blackMarketItem in blackMarketItems | orderBy:'name'">
					<img ng-src="{{getItemImageUrl(blackMarketItem)}}" />
					<div class="item-info">
						<div class="item-name">{{blackMarketItem.name}}</div>
						<div class="item-cost">
							<img src="/Gold.png" />
							<span>{{blackMarketItem.gold.total}}</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>