<div class="item-list">
	<div class="tbm-filter-bar" ng-class="{'tbm-filter-visible': displayFilters}">
		<div class="tbm-name-filter">
			<button type="button" class="btn btn-primary btm-toggle-filters btm-expander-bottom" ng-model="displayFilters" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-click="playItemSelectionSound()">
				<span></span>
			</button>

			<input type="text" placeholder="{{'ItemSearch' | translate}}" ng-model="nameFilter" typeahead="item for item in itemNames | filter:$viewValue | limitTo:8" class="form-control">

			<br />

			<div class="tbm-sorting">
				<div class="btn-group">
					<label class="btn btn-primary tbm-filter" ng-model="sortProperty" btn-radio="'name'">{{'Name' | translate}}</label>
					<label class="btn btn-primary tbm-filter" ng-model="sortProperty" btn-radio="'gold.total'">{{'Price' | translate}}</label>
				</div>

				<div class="btn-group">
					<label class="btn btn-primary tbm-filter" ng-model="sortDirection" btn-radio="false">Asc</label>
					<label class="btn btn-primary tbm-filter" ng-model="sortDirection" btn-radio="true">Des</label>
				</div>
			</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.health"></checkbox>{{'Health' | translate}}</div>
			<div><checkbox ng-model="filter.healthRegen"></checkbox>{{'HealthRegen' | translate}}</div>
			<div><checkbox ng-model="filter.armor"></checkbox>{{'Armor' | translate}}</div>
			<div><checkbox ng-model="filter.magicResist"></checkbox>{{'MagicResist' | translate}}</div>
			<div><checkbox ng-model="filter.tenacity"></checkbox>{{'Tenacity' | translate}}</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.damage"></checkbox>{{'Damage' | translate}}</div>
			<div><checkbox ng-model="filter.criticalStrike"></checkbox>{{'CriticalStrike' | translate}}</div>
			<div><checkbox ng-model="filter.attackSpeed"></checkbox>{{'AttackSpeed' | translate}}</div>
			<div><checkbox ng-model="filter.lifeSteal"></checkbox>{{'LifeSteal' | translate}}</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.abilityPower"></checkbox>{{'AbilityPower' | translate}}</div>
			<div><checkbox ng-model="filter.cooldownReduction"></checkbox>{{'CooldownReduction' | translate}}</div>
			<div><checkbox ng-model="filter.spellVamp"></checkbox>{{'SpellVamp' | translate}}</div>
			<div><checkbox ng-model="filter.mana"></checkbox>{{'Mana' | translate}}</div>
			<div><checkbox ng-model="filter.manaRegen"></checkbox>{{'ManaRegen' | translate}}</div>
		</div>

		<div class="tbm-type-filter">
			<div><checkbox ng-model="filter.boots"></checkbox>{{'Boots' | translate}}</div>
			<div><checkbox ng-model="filter.otherMovementItems"></checkbox>{{'OtherMovementItems' | translate}}</div>
		</div>
	</div>

	<div class="item-list-container" ng-class="{'tbm-filter-visible': displayFilters}">
		<a class="item-tile"
		   ng-href="{{getItemUrl(item)}}"
		   ng-repeat="item in items | filter:itemFilter | orderBy:sortProperty:sortDirection"
		   ng-click="playItemSelectionSound()">
			<img ng-src="{{getItemImage(item)}}" />
			<div class="highlight"></div>
			<div class="item-info">
				<div class="item-name">{{item.name}}</div>
				<div class="item-cost">
					<img src="/Gold.png" />
					<span>{{item.gold.total}}</span>
				</div>
			</div>
		</a>
	</div>
</div>