<!DOCTYPE html>
<html ng-app="TheBlackMarketApp">
	<head>
		<meta charset="utf-8" />
		<title>The Black Market</title>

		<link href="Libraries/nvd3/src/nv.d3.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Jim+Nightshade' rel='stylesheet' type='text/css'>
		<link href="Libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="Libraries/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
		<link href="Libraries/angularjs-slider/dist/rzslider.min.css" rel="stylesheet" />

		<!--<link href="Resources/Nv3dOverrides.css" rel="stylesheet" />
		<link href="Resources/BootstrapMagic.css" rel="stylesheet" />
		<link href="Resources/BootstrapMagicOverrides.css" rel="stylesheet" />
		<link href="TheBlackMarket.css" rel="stylesheet" />
		<link href="Brawlers/Brawlers.css" rel="stylesheet" />
		<link href="Champions/Champions.css" rel="stylesheet" />
		<link href="Items/Items.css" rel="stylesheet" />-->
		<link href="TheBlackMarketUnified.css" rel="stylesheet" />

		<script src="Libraries/angular/angular.min.js"></script>
		<script src="Libraries/angular-animate/angular-animate.min.js"></script>
		<script src="Libraries/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="Libraries/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="Libraries/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
		<script src="Libraries/angular-route/angular-route.min.js"></script>
		<script src="Libraries/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script src="Libraries/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="Libraries/angular-translate/angular-translate.min.js"></script>
		<script src="Libraries/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="Libraries/videogular/videogular.min.js"></script>
		<script src="Libraries/angularjs-slider/dist/rzslider.min.js"></script>
		
		<script src="LibrariesModified/d3.min.js"></script>
		<script src="LibrariesModified/nv-d3.min.js"></script>
		<script src="Libraries/angular-nvd3-directives-pcu2/dist/angularjs-nvd3-directives.js"></script>
		<script src="Libraries/soundmamager2/script/soundmanager2-nodebug-jsmin.js"></script>

		<script src="TheBlackMarket.min.js"></script>

		<!--<script src="TheBlackMarketApp.js"></script>
		<script src="TheBlackMarketSite.js"></script>
		<script src="Brawlers/BrawlersModule.js"></script>
		<script src="Champions/ChampionsModule.js"></script>
		<script src="Combat/CombatModule.js"></script>
		<script src="Items/ItemsModule.js"></script>
		<script src="Objectives/ObjectivesModule.js"></script>
		<script src="Rivalries/RivalriesModule.js"></script>-->
	</head>
	<body>
		<div class="background-image">
		</div>

		<header>
			<a href="/#/" ng-click="playGoHomeSound()" ng-controller="HomeLinkController">
				<div class="title">
					<h1>{{'Title' | translate}}</h1>
					<h2>{{'SubTitle' | translate}}</h2>
				</div>
			</a>

			<div class="filters" ng-controller="FilterController">
				<div class="filter-group">
					<div class="filter-header">
						{{'Region' | translate}}
					</div>
					<div class="region-filter btn-group">
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'ALL'">ALL</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'BR'">BR</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'EUNE'">EUNE</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'EUW'">EUW</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'KR'">KR</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'LAN'">LAN</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'LAS'">LAS</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'NA'">NA</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'OCE'">OCE</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'RU'">RU</label>
						<label class="btn btn-success regionFilter" ng-model="selectedRegion" ng-click="playSelectionSound()" btn-radio="'TR'">TR</label>
					</div>
				</div>

				<div class="filter-group">
					<div class="filter-header">
						{{'Team' | translate}}
					</div>
					<div class="team-filter btn-group">
						<label class="btn btn-success bothTeams" ng-model="selectedTeam" ng-click="playSelectionSound()" btn-radio="'Both'">{{'Both' | translate}}</label>
						<label class="btn btn-success blueTeam" ng-model="selectedTeam" ng-click="playSelectionSound()" btn-radio="'Blue'">{{'Blue' | translate}}</label>
						<label class="btn btn-success redTeam" ng-model="selectedTeam" ng-click="playSelectionSound()" btn-radio="'Red'">{{'Red' | translate}}</label>
					</div>
				</div>
			</div>
		</header>

		<aside>
			<div class="aside-background"></div>

			<menu ng-controller="MenuController">
				<a
				   ng-repeat="section in sections"
				   ng-href="#{{section.path}}"
				   ng-click="playSectionSound()">
					<div class="section-box" ng-style="{'background-image': 'url(' + section.image +')'}"></div>
					<div class="section-rotator-container">
						<div class="section-rotator">
							<div class="section-branch"></div>
							<div class="section-flag" ng-style="{'background-image': 'url(' + section.flag +')'}"></div>
							<div class="section-title">
								<span>{{section.name | translate}}</span>
							</div>
							<div class="section-bottomedge"></div>
						</div>
					</div>
				</a>
			</menu>

			<div class="settings" ng-controller="SettingsController">
				<div class="settings-audio">
					<div class="settings-audio-slider settings-sound">
						<div class="settings-audio-mute-toggle" ng-click="toggleSounds()" tooltip-placement="right" tooltip="{{'ToggleSounds' | translate}}">
							<img src="/Resources/Sound.png" />
							<img src="/Resources/Disabled.png" class="disabled-overlay" ng-class="{'visible': !playSounds}" />
						</div>
						<div class="settings-audio-rzslider">
							<rzslider rz-slider-model="currentSoundsVolume" rz-slider-floor="0" rz-slider-ceil="100" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true"></rzslider>
						</div>
					</div>
					<div class="settings-audio-slider settings-sound">
						<div class="settings-audio-mute-toggle" ng-click="toggleChampionSounds()" tooltip-placement="right" tooltip="{{'ToggleChampionVocies' | translate}}">
							<img src="/Resources/Sound.png" />
							<img src="/Resources/Disabled.png" class="disabled-overlay" ng-class="{'visible': !playChampionSounds}" />
						</div>
						<div class="settings-audio-rzslider">
							<rzslider rz-slider-model="currentChampionSoundsVolume" rz-slider-floor="0" rz-slider-ceil="100" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true"></rzslider>
						</div>
					</div>
					<div class="settings-audio-slider settings-sound">
						<div class="settings-audio-mute-toggle" ng-click="toggleMusic()" tooltip-placement="right" tooltip="{{'ToggleMusic' | translate}}">
							<img src="/Resources/Music.png" />
							<img src="/Resources/Disabled.png" class="disabled-overlay" ng-class="{'visible': !playMusic}" />
						</div>
						<div class="settings-audio-rzslider">
							<rzslider rz-slider-model="currentMusicVolume" rz-slider-floor="0" rz-slider-ceil="100" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true"></rzslider>
						</div>
					</div>
				</div>

				<a href="/#/about" ng-click="playSelectionSound()" ng-controller="HomeLinkController">
					<img src="/Resources/About.png"/>
				</a>
			</div>
		</aside>

		<div class="main">
			<div ng-view autoscroll="true"></div>
		</div>

		<div class="footer">
			{{'Disclaimer' | translate}}
		</div>

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67084729-1', 'auto');
  ga('send', 'pageview');

		</script>
	</body>
</html>
