
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

@mixin no-user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	font-family: 'Noto Sans', sans-serif;
	background: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
}

hr {
	padding: 0;
	margin: 0;
}

body {
	padding-left: 3.5em;
	padding-top: 6em;
	color: white;
	min-width: 900px;

	> div.background-image {
		position: absolute;
		left: 3.6em;
		top: 6em;
		right: 1.2em;
		bottom: 0em;
		background-color: black;
		background: url(/Resources/Background1.jpg);
		background-repeat: no-repeat;
		opacity: 0.5;
		transition: 150ms opacity;
		animation: background-fading 300s infinite;

		@keyframes background-fading {
			0% {
				opacity: 0.5;
			}

			12.5% {
				opacity: 0.75;
			}

			25% {
				opacity: 0.6;
			}

			37.5% {
				opacity: 1;
			}

			50% {
				opacity: 0.7;
			}

			62.5% {
				opacity: 0.9;
			}

			75% {
				opacity: 0.55;
			}

			87.5% {
				opacity: 0.8;
			}

			100% {
				opacity: 0.5;
			}
		}

		> img {
			position: relative;
			/*left: 0%;
			top: 0%;
			max-width: 100%;
			max-height: 100%;*/
		}

		> div.background-fade {
			position: relative;
			top: -4em;
			height: 4em;
			background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		}
	}

	> aside {
		@include no-user-select;
		z-index: 10000;
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
		width: 5em;
		padding-top: 8em;

		.aside-background {
			z-index: 5;
			position: absolute;
			left: 0em;
			top: 0em;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, rgb(6, 50, 68),rgb(13, 38, 57) 5%, rgb(6, 25, 40) 100%);
			border-right: 1px solid rgba(0, 0, 0, 0.75);
			box-shadow: 1px 0px 16px rgba(0, 0, 0, 1);
		}

		> menu {
			display: block;
			margin: 0;
			padding: 0;

			> a {
				position: relative;
				font-family: 'Jim Nightshade', cursive;
				text-align: center;
				margin-left: 0.15em;
				margin-right: 0.15em;
				margin-bottom: 0.25em;
				height: 1.4em;
				line-height: 3em;
				display: block;
				vertical-align: middle;
				width: 1.4em;
				transition: 150ms all;
				text-decoration: none;
				font-size: 3em;
				font-weight: bold;
				vertical-align: top;

				.section-box {
					z-index: 10;
					border: 1px solid black;
					background: rgb(169, 169, 169);
					position: absolute;
					left: 0em;
					top: 0em;
					width: 100%;
					height: 100%;
					background-size: 100% 100%;
					border: 1px solid rgb(87, 57, 10);
					transition: 350ms all ease-in-out;
				}
				/*&:hover {
					background: rgba(99, 99, 99, 1);
					width: 20em;
				}*/
				&:hover {
					text-decoration: none;

					.section-box {
						border: 1px solid rgb(213, 171, 105);
					}

					.section-rotator-container {
						transform: translateX(0em) rotateZ(0deg);
					}

					.section-rotator {
						animation: FlagSwing 2s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
					}

					@keyframes FlagSwing {
						0% {
							transform: rotateX(-10deg);
						}

						50% {
							transform: rotateX(10deg);
						}

						100% {
							transform: rotateX(-10deg);
						}
					}

					.section-bottomedge {
						animation: FlagSwing2 2.3s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
					}

					@keyframes FlagSwing2 {
						0% {
							transform: rotateX(-10deg);
						}

						50% {
							transform: rotateX(10deg);
						}

						100% {
							transform: rotateX(-10deg);
						}
					}
				}

				.section-rotator-container {
					transform: translateX(-2em) rotateZ(90deg);
					transition: 350ms all ease-in-out;
					perspective: 800px;
				}

				.section-rotator {
					position: relative;
					z-index: 1;
					transform-origin: top left;
					position: absolute;
					left: 100%;
					top: 0em;
					height: 3em;
					width: 7em;
					perspective: 200px;

					&:hover {
						.section-title {
							color: rgb(241, 235, 203);
						}
					}

					.section-branch {
						position: absolute;
						z-index: 10;
						left: 0em;
						top: 0em;
						width: 100%;
						height: 2em;
						background-image: url(/Resources/Branch.png);
						background-repeat: no-repeat;
						background-position: top left;
						background-size: 100% auto;
					}

					.section-flag {
						position: absolute;
						left: 0em;
						top: 0.2em;
						width: 6.79em;
						height: 3em;
						background-color: #D6A98A;
						background-repeat: no-repeat;
						background-size: auto 100%;
					}

					.section-title {
						position: absolute;
						left: 0em;
						top: 0.2em;
						width: 6.8em;
						height: 3em;
						color: rgb(224, 216, 172);
						transition: 150ms all;
						text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black, 0px 0px 10px black;

						span {
							font-size: 1.5em;
						}
					}

					.section-bottomedge {
						position: absolute;
						left: 0em;
						top: 2.68em;
						width: 6.78em;
						height: 1em;
						background-image: url(/Resources/TatheredEdge.png);
						background-repeat: no-repeat;
						background-position: top left;
						background-size: 100% auto;
					}
				}
			}
		}

		> div.settings {
			position: absolute;
			z-index: 10;
			bottom: 0px;
			width: 100%;
			text-align: center;
			margin-bottom: 1em;

			> a > img {
				margin-top: 1em;
			}

			> .settings-audio {
				position: relative;
				background: linear-gradient(to left, rgb(6, 50, 68),rgb(13, 38, 57) 5%, rgb(6, 25, 40) 100%);
				border-right: 1px solid rgba(0, 0, 0, 0.75);
				border-top: 2px solid rgba(0, 0, 0, 0.75);
				border-bottom: 2px solid rgba(0, 0, 0, 0.75);
				padding-top: 0.6em;
				width: 5em;
				transition: 250ms all;
				overflow: hidden;

				&:hover {
					background: linear-gradient(to left, rgb(12, 68, 91),rgb(13, 38, 57) 5%, rgb(12, 42, 65) 100%);
					width: 20em;
					text-align: right;
				}

				> .settings-audio-slider {
					position: relative;

					> * {
						display: inline-block;
					}

					> .settings-audio-rzslider {
						position: absolute;
						left: 6em;
						top: -0.8em;
						width: 13em;
						bottom: 1em;

						.rz-pointer {
							top: -14px;
							z-index: 2;
							width: 16px;
							height: 32px;
							cursor: pointer;
							border-radius: 0em;
							border: 1px solid rgba(0, 0, 0, 0.5);
							background-color: #dacb90;
							box-shadow: 0px 0px 5px rgb(169, 119, 32) inset;
						}

						.rz-bubble {
							display: none;
						}

						.rz-selection {
							z-index: 1;
							background: rgb(224, 214, 147);
							border-bottom: 1px solid rgba(0, 0, 0, 0.5);
						}

						.rz-pointer:after {
							position: absolute;
							display: none;
							top: 0em;
							left: 0em;
							width: 0em;
							height: 0em;
							background: transparent;
							border-radius: 0;
							content: '';
						}
					}

					> div.settings-audio-mute-toggle {
						position: relative;
						margin-left: 1em;
						margin-bottom: 1em;
						width: 3em;
						height: 3em;
						line-height: 3em;
						display: block;
						overflow: hidden;
						vertical-align: middle;
						cursor: pointer;

						> img {
							position: absolute;
							left: 10%;
							top: 10%;
							width: 80%;
							height: 80%;

							&.disabled-overlay {
								opacity: 0;
								z-index: 100;
								left: 0em;
								top: 0em;
								width: 100%;
								height: 100%;
								transition: 150ms all;
							}

							&.visible {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	> header {
		@include no-user-select;
		z-index: 20000;
		background: rgb(0, 0, 0);
		position: fixed;
		left: 0;
		top: 0;
		height: 6em;
		right: 1.2em;
		min-width: 1200px;
		background: linear-gradient(to bottom, rgb(2, 52, 72) 0%, rgba(0,30,42,1) 1%,rgba(2,9,13,1) 97%,rgb(2, 52, 72) 98%,rgb(2, 52, 72) 100%);
		box-shadow: 0px 5px 15px black;

		> a {
			color: white;
			text-decoration: none;

			&:active, &:hover, &:focus {
				color: white !important;
				text-decoration: none;
				outline: none;
			}

			> div.title {
				display: inline-block;
				vertical-align: middle;
				margin-left: 1em;
				padding-top: 0.9em;

				h1 {
					font-size: 28pt;
					margin-bottom: 0;
					font-weight: bold;
					margin-top: 0em;
					color: rgb(128, 128, 128);
					font-family: 'Jim Nightshade', cursive;
					color: rgb(156, 138, 79);
					text-shadow: 0px 0px 5px rgb(78, 63, 35);
				}

				h2 {
					margin: 0;
					font-size: 1.3em;
					font-family: 'Jim Nightshade', cursive;
				}
			}
		}

		> div.filters {
			display: inline-block;
			vertical-align: middle;
			padding-left: 2em;
			padding-top: 0.9em;

			> div.filter-group {
				display: inline-block;

				> div.filter-header {
					display: block;
					font-weight: bold;
					font-size: 0.8em;
					text-align: center;
					margin-bottom: 0.3em;
				}

				> div.btn-group {
					margin: 0em 0.5em;
				}
			}
		}
	}

	> div.main {
		position: relative;

		> div {
		}
	}

	.home-container {
	}

	> div.footer {
		position: relative;
		color: white;
		margin: 3em;
		padding: 1em;
		max-width: 900px;
		border: 1px solid black;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 15px black inset;
	}
}

.home-container {
	max-width: 800px;
	font-family: 'Jim Nightshade', cursive;
	margin: 3em;
	font-size: 2em;
	color: rgb(224, 216, 172);
	text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black, 0px 1px 15px black;
}

.tbm-filter-bar {
	@include no-user-select;
	position: fixed;
	z-index: 500;
	width: 100%;
	padding: 1em;
	padding-left: 3em;
	padding-bottom: 0.5em;
	color: black;
	background: rgb(225, 210, 168);
	border-bottom: 2px solid rgb(153, 123, 46);
	vertical-align: top;
	transition: 150ms all;
	margin-top: 0em;

	.btm-toggle-filters {
		position: absolute;
		bottom: 0em;
		left: 2em;
		width: 3em;
		height: 1em;
	}

	.tbm-name-filter {
		margin-right: 1em;
	}

	> div {
		display: inline-block;
	}

	> .tbm-type-filter {
		vertical-align: top;
		width: 14em;

		div {
			margin-bottom: 0.2em;
		}

		.btn-default {
			margin-right: 0.5em;
		}

		> label {
			display: block;
		}
	}
}

.riot-styles {
	color: white;
	font-size: 1.4em;

	stats {
		color: rgb(145, 240, 144);
	}

	passive, unique, active, aura {
		color: rgb(200, 174, 36);
	}
}

.rivalries-chart-container {
	path.arc {
		//cursor: move;
		fill: rgba(255, 255, 255, 0.5);
	}

	.node {
		font-size: 10px;
		cursor: pointer;
	}

	.node:hover {
		fill: #1f77b4;
	}

	.link {
		fill: none;
		display: none;
		pointer-events: none;
		//stroke-width: 2;
	}

	.link.source, .link.target {
		stroke-opacity: 1;
		display: inline;
	}

	.node.target {
		fill: #d62728 !important;
	}

	.link.source {
		stroke: #2ca02c;
	}

	.node.source {
		fill: #2ca02c;
	}

	.link.target {
		stroke: #d62728;
	}

	image {
		transition: 150ms all;
	}

	.active {
		transform: scale(2);
		transform-origin: center center;
		z-index: 100;
	}
}
